<a href="https://colab.research.google.com/github/ron1891/bioinfo1_project/blob/main/CoLab_Free_Project_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 생물정보학 및 실습 1 - Free Project용 환경 셋업

```
생물정보학 및 실습 1
서울대학교 협동과정 생물정보학전공 2022년 1학기

생물정보학 협동과정 석사과정 송한별
2022-25442

```

## Google Drive 마운트

데이터 파일들을 불러오고 저장하기 위해서 Google Drive를 연결합니다.

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 실습용 Bioconda 환경 설치하기

In [5]:
!git clone https://github.com/hyeshik/colab-biolab.git
!cd colab-biolab && bash tools/setup.sh
exec(open('colab-biolab/tools/activate_conda.py').read())

fatal: destination path 'colab-biolab' already exists and is not an empty directory.
./
./root/
./root/.bashrc.biolab
./root/.tmux.conf
./root/.bin.priority/
./root/.bin.priority/pip
./root/.bin.priority/pip3
./root/.bin.priority/pip2
./root/.profile
./root/.vimrc
./root/.condarc
PREFIX=/root/conda
Unpacking payload ...
Collecting package metadata (current_repodata.json): - \ done
Solving environment: / - \ | done

# All requested packages already installed.

installation finished.
WARNING:
    You currently have a PYTHONPATH environment variable set. This may cause
    unexpected behavior when running the Python interpreter in Miniconda3.
    For best results, please verify that your PYTHONPATH only points to
    directories of packages that are compatible with the Python interpreter
    in Miniconda3: /root/conda
Collecting package metadata (current_repodata.json): - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / done
Solving environment: \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - done


==> WARNING: A newer version of conda exists. <==
  current version: 4.12.0
  latest version: 4.13.0

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /root/conda/envs/lab

  added / updated specs:
    - bedtools
    - biopython
    - bwa
    - cython
    - matplotlib
    - numpy
    - pandas
    - pip
    - pysam
    - samtools
    - scipy
    - star


The following NEW packages will be INSTALLED:

  _libgcc_mutex      conda-forge/linux-64::_libgcc_mutex-0.1-conda_forge
  _openmp_mutex      conda-forge/linux-64::_openmp_mutex-4.5-2_gnu
  alsa-lib           conda-forge/linux-64::alsa-lib-1.2.3.2-h166bdaf_0
  attr               conda-forge/linux-64::attr-2.5.1-h166bdaf_0
  bedtools           bioconda/linux-64::bedtools-2.30.0-h468198e_3
  biopython          conda-forge/linux-64::biopython-1.79-py39h3811e60_1
  brotli             conda-forge/linux-64::brotli-1.0.9-h166bdaf_7
  brotli-bin         conda-forge/linux-64::brotli-bin-1.0.9-h166bdaf_7
  bwa                bioconda/linux-64::bwa-0.7.17-h7132678_9
  bzip2              conda-forge/linux-64::bzip2-1.0.8-h7f98852_4
  c-ares             conda-forge/linux-64::c-ares-1.18.1-h7f98852_0
  ca-certificates    conda-forge/linux-64::ca-certificates-2022.5.18.1-ha878542_0
  certifi            conda-forge/linux-64::certifi-2022.5.18.1-py39hf3d152e_0
  cycler             conda-forge/noarch::cycler-0.11.0-pyhd8ed1ab_0
  cython             conda-forge/linux-64::cython-0.29.30-py39h5a03fae_0
  dbus               conda-forge/linux-64::dbus-1.13.6-h5008d03_3
  expat              conda-forge/linux-64::expat-2.4.8-h27087fc_0
  fftw               conda-forge/linux-64::fftw-3.3.10-nompi_h77c792f_102
  font-ttf-dejavu-s~ conda-forge/noarch::font-ttf-dejavu-sans-mono-2.37-hab24e00_0
  font-ttf-inconsol~ conda-forge/noarch::font-ttf-inconsolata-3.000-h77eed37_0
  font-ttf-source-c~ conda-forge/noarch::font-ttf-source-code-pro-2.038-h77eed37_0
  font-ttf-ubuntu    conda-forge/noarch::font-ttf-ubuntu-0.83-hab24e00_0
  fontconfig         conda-forge/linux-64::fontconfig-2.14.0-h8e229c2_0
  fonts-conda-ecosy~ conda-forge/noarch::fonts-conda-ecosystem-1-0
  fonts-conda-forge  conda-forge/noarch::fonts-conda-forge-1-0
  fonttools          conda-forge/linux-64::fonttools-4.33.3-py39hb9d737c_0
  freetype           conda-forge/linux-64::freetype-2.10.4-h0708190_1
  gettext            conda-forge/linux-64::gettext-0.19.8.1-h73d1719_1008
  giflib             conda-forge/linux-64::giflib-5.2.1-h36c2ea0_2
  gst-plugins-base   conda-forge/linux-64::gst-plugins-base-1.20.2-hcf0ee16_0
  gstreamer          conda-forge/linux-64::gstreamer-1.20.2-hd4edc92_1
  htslib             bioconda/linux-64::htslib-1.15.1-h9753748_0
  icu                conda-forge/linux-64::icu-70.1-h27087fc_0
  jack               conda-forge/linux-64::jack-1.9.18-hfd4fe87_1001
  jpeg               conda-forge/linux-64::jpeg-9e-h166bdaf_1
  keyutils           conda-forge/linux-64::keyutils-1.6.1-h166bdaf_0
  kiwisolver         conda-forge/linux-64::kiwisolver-1.4.2-py39hf939315_1
  krb5               conda-forge/linux-64::krb5-1.19.3-h3790be6_0
  lcms2              conda-forge/linux-64::lcms2-2.12-hddcbb42_0
  ld_impl_linux-64   conda-forge/linux-64::ld_impl_linux-64-2.36.1-hea4e1c9_2
  lerc               conda-forge/linux-64::lerc-3.0-h9c3ff4c_0
  libblas            conda-forge/linux-64::libblas-3.9.0-14_linux64_openblas
  libbrotlicommon    conda-forge/linux-64::libbrotlicommon-1.0.9-h166bdaf_7
  libbrotlidec       conda-forge/linux-64::libbrotlidec-1.0.9-h166bdaf_7
  libbrotlienc       conda-forge/linux-64::libbrotlienc-1.0.9-h166bdaf_7
  libcap             conda-forge/linux-64::libcap-2.64-ha37c62d_0
  libcblas           conda-forge/linux-64::libcblas-3.9.0-14_linux64_openblas
  libclang           conda-forge/linux-64::libclang-14.0.4-default_h2e3cab8_0
  libclang13         conda-forge/linux-64::libclang13-14.0.4-default_h3a83d3e_0
  libcups            conda-forge/linux-64::libcups-2.3.3-hf5a7f15_1
  libcurl            conda-forge/linux-64::libcurl-7.83.1-h7bff187_0
  libdb              conda-forge/linux-64::libdb-6.2.32-h9c3ff4c_0
  libdeflate         conda-forge/linux-64::libdeflate-1.10-h7f98852_0
  libedit            conda-forge/linux-64::libedit-3.1.20191231-he28a2e2_2
  libev              conda-forge/linux-64::libev-4.33-h516909a_1
  libevent           conda-forge/linux-64::libevent-2.1.10-h9b69904_4
  libffi             conda-forge/linux-64::libffi-3.4.2-h7f98852_5
  libflac            conda-forge/linux-64::libflac-1.3.4-h27087fc_0
  libgcc-ng          conda-forge/linux-64::libgcc-ng-12.1.0-h8d9b700_16
  libgfortran-ng     conda-forge/linux-64::libgfortran-ng-12.1.0-h69a702a_16
  libgfortran5       conda-forge/linux-64::libgfortran5-12.1.0-hdcd56e2_16
  libglib            conda-forge/linux-64::libglib-2.70.2-h174f98d_4
  libgomp            conda-forge/linux-64::libgomp-12.1.0-h8d9b700_16
  libiconv           conda-forge/linux-64::libiconv-1.16-h516909a_0
  liblapack          conda-forge/linux-64::liblapack-3.9.0-14_linux64_openblas
  libllvm14          conda-forge/linux-64::libllvm14-14.0.4-he0ac6c6_0
  libnghttp2         conda-forge/linux-64::libnghttp2-1.47.0-h727a467_0
  libnsl             conda-forge/linux-64::libnsl-2.0.0-h7f98852_0
  libogg             conda-forge/linux-64::libogg-1.3.4-h7f98852_1
  libopenblas        conda-forge/linux-64::libopenblas-0.3.20-pthreads_h78a6416_0
  libopus            conda-forge/linux-64::libopus-1.3.1-h7f98852_1
  libpng             conda-forge/linux-64::libpng-1.6.37-h21135ba_2
  libpq              conda-forge/linux-64::libpq-14.3-hd77ab85_0
  libsndfile         conda-forge/linux-64::libsndfile-1.0.31-h9c3ff4c_1
  libssh2            conda-forge/linux-64::libssh2-1.10.0-ha56f1ee_2
  libstdcxx-ng       conda-forge/linux-64::libstdcxx-ng-12.1.0-ha89aaad_16
  libtiff            conda-forge/linux-64::libtiff-4.4.0-h0fcbabc_0
  libtool            conda-forge/linux-64::libtool-2.4.6-h9c3ff4c_1008
  libudev1           conda-forge/linux-64::libudev1-249-h166bdaf_2
  libuuid            conda-forge/linux-64::libuuid-2.32.1-h7f98852_1000
  libvorbis          conda-forge/linux-64::libvorbis-1.3.7-h9c3ff4c_0
  libwebp            conda-forge/linux-64::libwebp-1.2.2-h3452ae3_0
  libwebp-base       conda-forge/linux-64::libwebp-base-1.2.2-h7f98852_1
  libxcb             conda-forge/linux-64::libxcb-1.13-h7f98852_1004
  libxkbcommon       conda-forge/linux-64::libxkbcommon-1.0.3-he3ba5ed_0
  libxml2            conda-forge/linux-64::libxml2-2.9.14-h22db469_0
  libzlib            conda-forge/linux-64::libzlib-1.2.12-h166bdaf_0
  lz4-c              conda-forge/linux-64::lz4-c-1.9.3-h9c3ff4c_1
  matplotlib         conda-forge/linux-64::matplotlib-3.5.2-py39hf3d152e_0
  matplotlib-base    conda-forge/linux-64::matplotlib-base-3.5.2-py39h700656a_0
  munkres            conda-forge/noarch::munkres-1.1.4-pyh9f0ad1d_0
  mysql-common       conda-forge/linux-64::mysql-common-8.0.29-haf5c9bc_1
  mysql-libs         conda-forge/linux-64::mysql-libs-8.0.29-h28c427c_1
  ncurses            conda-forge/linux-64::ncurses-6.3-h27087fc_1
  nspr               conda-forge/linux-64::nspr-4.32-h9c3ff4c_1
  nss                conda-forge/linux-64::nss-3.78-h2350873_0
  numpy              conda-forge/linux-64::numpy-1.22.4-py39hc58783e_0
  openjpeg           conda-forge/linux-64::openjpeg-2.4.0-hb52868f_1
  openssl            conda-forge/linux-64::openssl-1.1.1o-h166bdaf_0
  packaging          conda-forge/noarch::packaging-21.3-pyhd8ed1ab_0
  pandas             conda-forge/linux-64::pandas-1.4.2-py39h1832856_2
  pcre               conda-forge/linux-64::pcre-8.45-h9c3ff4c_0
  perl               conda-forge/linux-64::perl-5.32.1-2_h7f98852_perl5
  pillow             conda-forge/linux-64::pillow-9.1.1-py39hae2aec6_1
  pip                conda-forge/noarch::pip-22.1.2-pyhd8ed1ab_0
  pthread-stubs      conda-forge/linux-64::pthread-stubs-0.4-h36c2ea0_1001
  pulseaudio         conda-forge/linux-64::pulseaudio-14.0-hbc9ff1d_7
  pyparsing          conda-forge/noarch::pyparsing-3.0.9-pyhd8ed1ab_0
  pyqt               conda-forge/linux-64::pyqt-5.15.4-py39h5a03fae_0
  pyqt5-sip          conda-forge/linux-64::pyqt5-sip-12.9.0-py39h5a03fae_0
  pysam              bioconda/linux-64::pysam-0.19.1-py39h5030a8b_0
  python             conda-forge/linux-64::python-3.9.13-h9a8a25e_0_cpython
  python-dateutil    conda-forge/noarch::python-dateutil-2.8.2-pyhd8ed1ab_0
  python_abi         conda-forge/linux-64::python_abi-3.9-2_cp39
  pytz               conda-forge/noarch::pytz-2022.1-pyhd8ed1ab_0
  qt-main            conda-forge/linux-64::qt-main-5.15.3-hf97cb25_2
  readline           conda-forge/linux-64::readline-8.1-h46c0cb4_0
  samtools           bioconda/linux-64::samtools-1.15.1-h1170115_0
  scipy              conda-forge/linux-64::scipy-1.8.1-py39he49c0e8_0
  setuptools         conda-forge/linux-64::setuptools-62.3.2-py39hf3d152e_0
  sip                conda-forge/linux-64::sip-6.5.1-py39he80948d_2
  six                conda-forge/noarch::six-1.16.0-pyh6c4a22f_0
  sqlite             conda-forge/linux-64::sqlite-3.38.5-h4ff8645_0
  star               bioconda/linux-64::star-2.7.10a-h9ee0642_0
  tk                 conda-forge/linux-64::tk-8.6.12-h27826a3_0
  toml               conda-forge/noarch::toml-0.10.2-pyhd8ed1ab_0
  tornado            conda-forge/linux-64::tornado-6.1-py39hb9d737c_3
  tzdata             conda-forge/noarch::tzdata-2022a-h191b570_0
  unicodedata2       conda-forge/linux-64::unicodedata2-14.0.0-py39hb9d737c_1
  wheel              conda-forge/noarch::wheel-0.37.1-pyhd8ed1ab_0
  xorg-libxau        conda-forge/linux-64::xorg-libxau-1.0.9-h7f98852_0
  xorg-libxdmcp      conda-forge/linux-64::xorg-libxdmcp-1.1.3-h7f98852_0
  xz                 conda-forge/linux-64::xz-5.2.5-h516909a_1
  zlib               conda-forge/linux-64::zlib-1.2.12-h166bdaf_0
  zstd               conda-forge/linux-64::zstd-1.5.2-h8a70e8d_1


Preparing transaction: | / - \ | / - \ | / - \ | / - done
Verifying transaction: | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - done
Executing transaction: | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | done
#
# To activate this environment, use
#
#     $ conda activate lab
#
# To deactivate an active environment, use
#
#     $ conda deactivate

Activated conda environment `lab'!

## 시퀀싱 데이터 다운로드
이제 실습 수업에서 필요한 시퀀싱 데이터를 다운로드 및 설치.

In [6]:
!ls -al /content/drive/MyDrive/binfo1-datapack1/

total 7817834
-rw------- 1 root root 1370036258 May  6 05:31 CLIP-35L33G.bam
-rw------- 1 root root    3118336 May  6 05:31 CLIP-35L33G.bam.bai
-rw------- 1 root root       7077 May 20 04:13 CLIP-let7g.bam
-rw------- 1 root root      14561 May 20 04:13 CLIP-let7g-gene.pileup
-rw------- 1 root root    2685065 May 20 04:13 CLIP-let7g.pileup
drwx------ 2 root root       4096 May 12 06:33 colab-biolab
-rw------- 1 root root  567739792 May 12 10:24 filtered-RPF-siLuc.bam
-rw------- 1 root root   28109361 May 12 10:31 fivepcounts-filtered-RPF-siLuc.txt
-rw------- 1 root root   45957833 May 12 10:26 fivepcounts-RPF-siLuc.bed
-rw------- 1 root root     855103 May 12 10:22 gencode-exons-containing-startcodon.bed
-rw------- 1 root root  883334756 May  6 05:31 gencode.gtf
-rw------- 1 root root   26842797 May 12 10:21 gencode-plusexon.gtf
-rw------- 1 root root    1063832 May 12 10:19 gencode-start.gtf
-rw------- 1 root root       3907 May 20 04:23 let7g.bed
-rw------- 1 root root   24187483 May 13 10:42 read-counts.txt
-rw------- 1 root root        825 May 13 10:42 read-counts.txt.summary
-rw------- 1 root root 1003658801 May  6 05:31 RNA-control.bam
-rw------- 1 root root    2276104 May  6 05:31 RNA-control.bam.bai
-rw------- 1 root root 1260991122 May  6 05:31 RNA-siLin28a.bam
-rw------- 1 root root    2710744 May  6 05:31 RNA-siLin28a.bam.bai
-rw------- 1 root root  981684502 May  6 05:31 RNA-siLuc.bam
-rw------- 1 root root    2606104 May  6 05:32 RNA-siLuc.bam.bai
-rw------- 1 root root  737352902 May  6 05:32 RPF-siLin28a.bam
-rw------- 1 root root    2482768 May  6 05:32 RPF-siLin28a.bam.bai
-rw------- 1 root root 1055123479 May  6 05:32 RPF-siLuc.bam
-rw------- 1 root root    2605912 May  6 05:32 RPF-siLuc.bam.bai

### 파일 체크섬 확인

받은 데이터의 MD5 체크섬을 확인하기.

```
140aaf30bcb9276cc716f8699f04ddd6  CLIP-35L33G.bam
f1b3336ed7e2f97d562dcc71641251bd  CLIP-35L33G.bam.bai
328883a73d507eafbf5b60bd6b906201  RNA-control.bam
02073818e2f398a73c3b76e5169de1ca  RNA-control.bam.bai
b09550d09d6c2a4ce27f0226f426fdb1  RNA-siLin28a.bam
fef112c727244060ea62d3f2564a07f6  RNA-siLin28a.bam.bai
28bbd0c47d725669340c784f1b772c01  RNA-siLuc.bam
43590fdc4d81905c0432e0d1cb8cfd5b  RNA-siLuc.bam.bai
5c08a9297307bc83259e658c4474f0cc  RPF-siLin28a.bam
a1bb3e29be412dfd7fd8d16b1b1acc4c  RPF-siLin28a.bam.bai
f2eebf50943024d0116c9cd3e744c707  RPF-siLuc.bam
dc24f69e8f571fc8be30f28ce5b84fcd  RPF-siLuc.bam.bai
```

In [7]:
!md5sum drive/MyDrive/binfo1-datapack1/*

140aaf30bcb9276cc716f8699f04ddd6  drive/MyDrive/binfo1-datapack1/CLIP-35L33G.bam
f1b3336ed7e2f97d562dcc71641251bd  drive/MyDrive/binfo1-datapack1/CLIP-35L33G.bam.bai
0d33bf4b3a5ce22ba13a62323efd6883  drive/MyDrive/binfo1-datapack1/CLIP-let7g.bam
4ea14471c5d4bf9ab1fd91b9a5b2193c  drive/MyDrive/binfo1-datapack1/CLIP-let7g-gene.pileup
a53f66a5575d4ac2d3b4c44af576d44d  drive/MyDrive/binfo1-datapack1/CLIP-let7g.pileup
md5sum: drive/MyDrive/binfo1-datapack1/colab-biolab: Is a directory
d477bd9acca237bbc6e0fbd81cdc6c0b  drive/MyDrive/binfo1-datapack1/filtered-RPF-siLuc.bam
2b5021d2ac3d4830fd963d950a2dc0b8  drive/MyDrive/binfo1-datapack1/fivepcounts-filtered-RPF-siLuc.txt
7211785786bc63bf95a5bb678cad71c1  drive/MyDrive/binfo1-datapack1/fivepcounts-RPF-siLuc.bed
ed47186ee44654792a8a130c695f3a22  drive/MyDrive/binfo1-datapack1/gencode-exons-containing-startcodon.bed
d54d428f5872030c4ffc43058709b896  drive/MyDrive/binfo1-datapack1/gencode.gtf
3469e3e3e018302c5488adc052fd1e21  drive/MyDrive/binfo1-datapack1/gencode-plusexon.gtf
b1c38579a9e8e0313c1508f02ce0afaf  drive/MyDrive/binfo1-datapack1/gencode-start.gtf
35ad7981b8bc05265dd1fbdddfd4f353  drive/MyDrive/binfo1-datapack1/let7g.bed
b75a7f625b2bf604f8e0eca13e71699e  drive/MyDrive/binfo1-datapack1/read-counts.txt
f0282c43f2b5fb965efe34604e5783fe  drive/MyDrive/binfo1-datapack1/read-counts.txt.summary
328883a73d507eafbf5b60bd6b906201  drive/MyDrive/binfo1-datapack1/RNA-control.bam
02073818e2f398a73c3b76e5169de1ca  drive/MyDrive/binfo1-datapack1/RNA-control.bam.bai
b09550d09d6c2a4ce27f0226f426fdb1  drive/MyDrive/binfo1-datapack1/RNA-siLin28a.bam
fef112c727244060ea62d3f2564a07f6  drive/MyDrive/binfo1-datapack1/RNA-siLin28a.bam.bai
28bbd0c47d725669340c784f1b772c01  drive/MyDrive/binfo1-datapack1/RNA-siLuc.bam
43590fdc4d81905c0432e0d1cb8cfd5b  drive/MyDrive/binfo1-datapack1/RNA-siLuc.bam.bai
5c08a9297307bc83259e658c4474f0cc  drive/MyDrive/binfo1-datapack1/RPF-siLin28a.bam
a1bb3e29be412dfd7fd8d16b1b1acc4c  drive/MyDrive/binfo1-datapack1/RPF-siLin28a.bam.bai
f2eebf50943024d0116c9cd3e744c707  drive/MyDrive/binfo1-datapack1/RPF-siLuc.bam
dc24f69e8f571fc8be30f28ce5b84fcd  drive/MyDrive/binfo1-datapack1/RPF-siLuc.bam.bai

실습에 필요한 프로그램들 몇 가지를 추가로 설치하기.

In [8]:
!conda install -y bedtools bioawk

Collecting package metadata (current_repodata.json): - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - done
Solving environment: | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ done


==> WARNING: A newer version of conda exists. <==
  current version: 4.12.0
  latest version: 4.13.0

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /root/conda/envs/lab

  added / updated specs:
    - bedtools
    - bioawk


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    bioawk-1.0                 |       h7132678_7         196 KB  bioconda
    ------------------------------------------------------------
                                           Total:         196 KB

The following NEW packages will be INSTALLED:

  bioawk             bioconda/linux-64::bioawk-1.0-h7132678_7



Downloading and Extracting Packages
bioawk-1.0           | 196 KB    | : 100% 1.0/1 [00:00<00:00,  8.48it/s]
Preparing transaction: / done
Verifying transaction: \ done
Executing transaction: / done

## (★)Fig S2A 재현해보기

Error가 많이 나오는 부분의 unique sequence들의 각각 개수를 세서 genome browser로 표현하고, 점수 트랙을 같이 표시하기.

데이터는 Mission 3와 동일

In [10]:
%cd /content/drive/MyDrive/binfo1-datapack1/

/content/drive/MyDrive/binfo1-datapack1

새로운 annotion에서 mirlet7d의 위치를 찾기.

In [69]:
!grep -i mirlet7d gencode.gtf

chr13	ENSEMBL	gene	48689488	48689590	.	-	.	gene_id "ENSMUSG00000065453.3"; gene_type "miRNA"; gene_name "Mirlet7d"; level 3; mgi_id "MGI:2676796";
chr13	ENSEMBL	transcript	48689488	48689590	.	-	.	gene_id "ENSMUSG00000065453.3"; transcript_id "ENSMUST00000083519.3"; gene_type "miRNA"; gene_name "Mirlet7d"; transcript_type "miRNA"; transcript_name "Mirlet7d-201"; level 3; transcript_support_level "NA"; mgi_id "MGI:2676796"; tag "basic";
chr13	ENSEMBL	exon	48689488	48689590	.	-	.	gene_id "ENSMUSG00000065453.3"; transcript_id "ENSMUST00000083519.3"; gene_type "miRNA"; gene_name "Mirlet7d"; transcript_type "miRNA"; transcript_name "Mirlet7d-201"; exon_number 1; exon_id "ENSMUSE00000522678.2"; level 3; transcript_support_level "NA"; mgi_id "MGI:2676796"; tag "basic";

Splicing 되지 않는 transcript이기 때문에 결과가 단조롭습니다. 해당 좌표 범위로 bam을 솎아내기.

In [70]:
!samtools view -b -o CLIP-let7d.bam CLIP-35L33G.bam chr13:48689488-48689590
!samtools view CLIP-let7d.bam | wc -l

187

각 자리에 mapping된 read들의 분포를 요약하기 위해 samtools mpileup 이용하기.

In [71]:
!samtools mpileup CLIP-let7d.bam > CLIP-let7d.pileup
!wc -l CLIP-let7d.pileup

[mpileup] 1 samples in 1 input files
87 CLIP-let7d.pileup

Mirlet7d의 핵심부분을 살펴봐서 어떻게 하면 좋을지 견적을 내보기.

In [72]:
!head CLIP-let7d.pileup

chr13	48689488	N	24	^Ga^Ia^Ha^Ia^Ha^Ia^Ia^Ia^Ga^Ia^Ia^Ia^Ia^Ia^Ha^Ia^Ga^Ga^Ga^Ia^Ea^Da^Ha^Ga	BIHGGIHIEIIIGIHIGEGH5BDD
chr13	48689489	N	53	aaaaaaaaaaaaaaaaaaaaaaaaa^Ia^Ha^Ia^Ga^Ga^Ha^Ia^Ia^Ga^Ga^Ia^Ia^Ha^Ia^Ia^Ha^Ha^Da^Ia^Ha^Ia^Ia^Ia^Ia^Ia^Ha^Ga^Ga	GIHIGIIIEIIIIIHIG>EB4@5HDIHIBEGIID?IIGII@H>IGHIIIGHDC
chr13	48689490	N	69	ttttttttttttttttttttttttttttttttttttttttttttttttttttt^Gt^Gt^Ht^Gt^It^It^Ht^It^Gt^Gt^Ht^It^It^It^Ht^It	GIHIGHIFFIIIIIFHGEDG;2>FDIHIDGBIIDBIIDIIAH>IBGIIIGHBG=BG=IIGIDGHFIIHI
chr13	48689491	N	105	aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa^Ia^Ia^Ha^Ga^Ia^Ga^Ia^Ga^Ha^Ha^Ha^Ga^Ia^Ha^Ha^Ia^@a^Ia^Ia^Ia^Ga^Ha^Ha^Ga^Ha^Ga^Ia^Ha^Ga^Ia^Ga^Ha^Ga^Ia^Ia^Ga	EIGHEHHIEIIIIIHIGCBH:?>HGGHI>GBIIGBIIGIHBB;IHIIIIGHDC3=G:IGGIDEHIFIGHII=GIDHEGHHEIGGI7III9=HGBAIGBIGFG>I2
chr13	48689492	N	105	aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa	GIGIEIEI7IIIGIGIG;?F:D@G7GHIAGAIIG3IIGIHDB2IHIIIIDDGC1<GCIIHIGCHIIIEIIIGCIBIEGHH?HHFI9IIIA=GGB?IEGIFEGGIA
chr13	48689493	N	105	ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg	BIEIGHGI7IHHGIGHG=?F58>E5EHIAGAHIDAHIGII:EDHHIHIIGG>>5EDAIIFFGDHIIHGIII8EIDIBBHHBIGHI7HII?=GGBEIG>HFEGGIA
chr13	48689494	N	105	ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg	FIFEGIFE3HFIGIGHG=?D1?@D5EHIAEADIBFIIGHIBD<IHDGIIGBD>03GEEIHF@DHIIIDIIHEAIDIC>HHBHFDI9FIIE=GGBAIGEFEEGIIA
chr13	48689495	N	104	cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc	GID>GHEG.HIHGH>IG2;B;?>E0BCI8G?FGA?HH@HIB?DHBIIIHGBG90BAEIEF8CEDIHGIIHGAI?I3BGH;HHHE7IIIA=GG:?IFEBF2GBI;
chr13	48689496	N	102	cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc	FI8EEGEI.GEB<ID>G38B19>BFFI<D<FGAEFIGDFB@@CH>EHH8B7>BDCEEEBBCHBGEEFHIG?I;IG@HH2EEGI9IIIA>;<@IE<E:CDIG<
chr13	48689497	N	104	cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc	DIHFBIFG.HIIFIGIB3;B993E:IGHAGDIDC3IIHDIBDHBIIIII>;58?A>IIEHBAHBHIGHIEFBI0BG<HHEEGDG.III?7H?>3IE<H8EDGG?

In [73]:
!!awk '$2 >= 48689488 && $2 <= 48689590 { print $0; }' CLIP-let7d.pileup > CLIP-let7d-gene.pileup
!tail CLIP-let7d-gene.pileup

chr13	48689565	N	6	cccccc	>IGIIH
chr13	48689566	N	6	tttttt	:IGFIH
chr13	48689567	N	6	aaaaaa	8IFIFI
chr13	48689568	N	6	cccccc	?IGIII
chr13	48689569	N	6	tttttt	;IGIII
chr13	48689570	N	5	aaaaa	EDECD
chr13	48689571	N	6	cccccc	:GGIGG
chr13	48689572	N	6	cccccc	:GGIGG
chr13	48689573	N	6	tttttt	5GGIGG
chr13	48689574	N	6	c$c$c$c$c$c$	;GGIGG

이제 pandas에 불러와서 분석하기.

In [74]:
import pandas as pd

pileup = pd.read_csv('CLIP-let7d-gene.pileup', sep='\t', names=['chrom', 'pos', '_ref', 'count', 'basereads', 'quals'])

# pileup 확인
pileup.tail()

    chrom       pos _ref  count     basereads   quals
82  chr13  48689570    N      5         aaaaa   EDECD
83  chr13  48689571    N      6        cccccc  :GGIGG
84  chr13  48689572    N      6        cccccc  :GGIGG
85  chr13  48689573    N      6        tttttt  5GGIGG
86  chr13  48689574    N      6  c$c$c$c$c$c$  ;GGIGG

여기서 pileup에서 계산에 사용할 것은 match와 substitution이기 때문에 나머지에 해당하는 tag들 제거하기.

In [75]:
import re
toremove = re.compile('[<>$*#^]')
pileup['matches'] = pileup['basereads'].apply(lambda x: toremove.sub('', x))

In [76]:
pileup2 = pileup[['chrom', 'pos', 'matches']]

Base Column 추가하기.

In [77]:
pileup2['base'] = pileup['matches'].str.len()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

pileup2 dataframe 확인하기

In [78]:
pileup2

    chrom       pos                                            matches  base
0   chr13  48689488   GaIaHaIaHaIaIaIaGaIaIaIaIaIaHaIaGaGaGaIaEaDaHaGa    48
1   chr13  48689489  aaaaaaaaaaaaaaaaaaaaaaaaaIaHaIaGaGaHaIaIaGaGaI...    81
2   chr13  48689490  tttttttttttttttttttttttttttttttttttttttttttttt...    85
3   chr13  48689491  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...   141
4   chr13  48689492  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...   105
..    ...       ...                                                ...   ...
82  chr13  48689570                                              aaaaa     5
83  chr13  48689571                                             cccccc     6
84  chr13  48689572                                             cccccc     6
85  chr13  48689573                                             tttttt     6
86  chr13  48689574                                             cccccc     6

[87 rows x 4 columns]

## Shannon Entropy 계산

In [79]:
import math
from collections import Counter

def entropy(s):
	p, lns = Counter(s), float(len(s))
	return -sum( count/lns * math.log(count/lns, 2) for count in p.values())

In [80]:
count = ['1','2']
dent = pd.Series(count)

i = 0
while i <= 86:
  dent[i] = entropy(pileup['matches'][i])
  i += 1

In [81]:
pileup3 = pileup2
pileup3['entropy'] = dent
pileup3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,chrom,pos,matches,base,entropy
0,chr13,48689488,GaIaHaIaHaIaIaIaGaIaIaIaIaIaHaIaGaGaGaIaEaDaHaGa,48,1.906454
1,chr13,48689489,aaaaaaaaaaaaaaaaaaaaaaaaaIaHaIaGaGaHaIaIaGaGaI...,81,1.4998
2,chr13,48689490,tttttttttttttttttttttttttttttttttttttttttttttt...,85,0.988811
3,chr13,48689491,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,141,1.258637
4,chr13,48689492,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,105,-0.0
...,...,...,...,...,...
82,chr13,48689570,aaaaa,5,-0.0
83,chr13,48689571,cccccc,6,-0.0
84,chr13,48689572,cccccc,6,-0.0
85,chr13,48689573,tttttt,6,-0.0
86,chr13,48689574,cccccc,6,-0.0

In [82]:
pileup_final = pileup3[['chrom','pos']]
pileup_final['pos2']=pileup3['pos']+1
pileup_final['entropy'] = pileup3['entropy']
pileup_final

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    chrom       pos      pos2   entropy
0   chr13  48689488  48689489  1.906454
1   chr13  48689489  48689490    1.4998
2   chr13  48689490  48689491  0.988811
3   chr13  48689491  48689492  1.258637
4   chr13  48689492  48689493      -0.0
..    ...       ...       ...       ...
82  chr13  48689570  48689571      -0.0
83  chr13  48689571  48689572      -0.0
84  chr13  48689572  48689573      -0.0
85  chr13  48689573  48689574      -0.0
86  chr13  48689574  48689575      -0.0

[87 rows x 4 columns]

NA값 확인 및 Pileup 파일 저장

In [83]:
pileup_let7d = pileup_final.dropna()
pileup_let7d.to_csv("Mirlet7d.txt",header=False, index=False, sep='\t')

In [84]:
pileup_let7d.sort_values(by=['entropy'], axis=0, ascending = False)

    chrom       pos      pos2   entropy
0   chr13  48689488  48689489  1.906454
1   chr13  48689489  48689490    1.4998
41  chr13  48689529  48689530  1.450881
39  chr13  48689527  48689528  1.343948
3   chr13  48689491  48689492  1.258637
..    ...       ...       ...       ...
38  chr13  48689526  48689527      -0.0
36  chr13  48689524  48689525      -0.0
35  chr13  48689523  48689524      -0.0
34  chr13  48689522  48689523      -0.0
86  chr13  48689574  48689575      -0.0

[87 rows x 4 columns]

In [85]:
pileup_let7d.to_csv("let7d.bed", sep="\t", header=None, index=False)

UCSC Genome Browser에서 Visualization 진행

https://genome.ucsc.edu/ 로 가서 let7d.bed file 업로드.

**bed file 위에 추가할 내용:**


browser position chr13:48689488-48689575

browser pack refGene encodeRegions

browser full altGraph

track type=bedGraph name="Mirlet7d" description="Mirlet7d" visibility=full color=0,0,0 altColor=0,100,200 priority=20 alwaysZero=on

'#chrom chromStart chromEnd entropy

![image.png]()

다음주까지 시각화 수정하여 마지막 발표 준비 완료 예정.